.themes {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.theme {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 9rem;
    font-size: 1rem;
    gap: 3rem;
}
button.theme_btn {
    box-sizing: border-box;
    background-color: #4f1c4f;
    box-shadow: 0.1rem 0.1rem 0.6rem rgb(223, 123, 143);
    border-radius: 0.5rem;
    padding: 1rem;
    color: antiquewhite;
    font-size: 0.9rem;
    width: max-content;
    border: 0.5rem;
    transition: padding 0.2s;
    overflow-wrap: break-word;
    overflow-y: clip;
}
.theme_btn:hover {
    background-color: rgb(155, 73, 147);
    padding: 1.2rem;
}
.display {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: fit-content;
    width: fit-content;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgb(252, 220, 226);
    font-size: 1.5rem;
    color: purple;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
@keyframes aniImages {
    from {gap: 3rem;}
    to {gap: 0rem;}
}
.images {
    box-sizing: border-box;
    background-color: burlywood;
    padding: 3rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 80%;
    height: max-content;
    overflow-y: clip;
    overflow-x: hidden;
    text-align: center;
    animation-name: aniImages ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 1rem;
}
.imgdiv {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
    border-color: purple;
    border-radius: 7px;
    overflow-y: clip;
    overflow-x: clip;
    height: max-content;
}
div.page2 {
    position: relative;
    box-sizing: border-box;
    top: 0rem;
    left: 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    gap: 3rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-top: 4rem;
}
div.clothes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    
}
.imgg {
    height: 10rem;
    width: 9rem;
}
