html {
    font-family: 'Titillium Web', serif;
    background-color: antiquewhite;
}
footer {
    position: fixed;
    height: 4%;
    text-align: center;
    font-weight: 100;
    padding: 10px;
    background-color: crimson;
    color: white;
    width: 100%;
    bottom: 0;
    left: 0
}
.desc {
    position: relative;
    color: #752b75;
    top: 50px;
    font-size: 15px;
    text-align: center;
}
.cty1 {
    position: absolute;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    height: 500px;
    width: 50%;
    color: #4b174b;
}
.cty2 {
    position: absolute;
    top: 0;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    height: 500px;
    width: 50%;
    left: 50%;
    color: #4b174b;
}
.ctys {
    position: fixed;
    top: 80px;
    height: 500px;
    width: 100%;
    margin-top: 10px;
    left: 0;
}
.header {
    position: fixed;
    top: 0;
    padding-top: 5px;
    font-size: 50px;
    color: crimson;
    background-color: rgb(248, 247, 245);
    height: 90px;
    width: 100%;
    text-align: center;
}
.header:hover {
    color: darkred;
}
button:hover {
    background-color: rgb(223, 123, 143, 12);
}
label {
    list-style-type: none;
    font-size: 14px;
    display: inline-block;
}
.form1 {
    position: absolute;
    height: 350px;
    width: 50%;
    left: 25%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 12px;
    margin: 10px;
    padding-top: 3px;
    line-height: 12px;
    border: 7px solid rgb(236, 184, 219);
    border-radius: 10px;
    background-color: oldlace;
    /*display: table;*/
    padding-left: 17px;
    text-align: justify;
}
.form2 {
    position: absolute;
    height: 350px;
    width: 50%;
    left: 25%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 12px;
    margin: 10px;
    padding-top: 3px;
    line-height: 12px;
    border: 7px solid rgb(236, 184, 219);
    border-radius: 10px;
    background-color: oldlace;
    padding-left: 17px;
    text-align: justify;
    /*display: table;*/
}
input {
    position: absolute;
    width: 12%;
    right: 10px;
}
p.forms {
    margin-left: 5px;
}
.submit_div1 {
    position: absolute;
    bottom: 5%;
    width: 60px;
    height: 40px;
    right: 45%;
    font-size: 8px;
}
.submit_div2 {
    position: absolute;
    bottom: 5%;
    width: 60px;
    height: 40px;
    right: 42%;
    font-size: 8px;
}
button.sub1 {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: crimson;
    border-radius: 5px;
    height: 40px;
    width: 70px;
    color: antiquewhite;
    font-size: 10px;
}
button.sub2 {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: crimson;
    border-radius: 5px;
    height: 40px;
    width: 70px;
    color: antiquewhite;
    font-size: 10px;
}
button.sub1:hover, button.sub2:hover {
    background-color: rgb(219, 61, 92);
}
#submit_status {
    position: relative;
    top: 540px;
    height: 20px;
    left: 50%;
    width: 200px;
    font-size: 15px;
    color: gray;
    text-align: center;
    display: none;
}
.hiddentable {
    display: none;
}
