html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}
footer {
    position: fixed;
    height: 4%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    padding: 10px;
    background-color: crimson;
    color: white;
    width: 100%;
    bottom: 0;
    left: 0
}
.desc {
    position: absolute;
    font-size: 10px;
    height: 15px;
    width: 100%;
    color: #752b75;
    top: 55px;
    text-align: center;

}
.cty1 {
    position: absolute;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    height: 500px;
    width: 50%;
    color: #4b174b;
}
.cty2 {
    position: absolute;
    top: 0;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    height: 500px;
    width: 50%;
    left: 50%;
    color: #4b174b;
}
.ctys {
    position: relative;
    top: 80px;
    height: 500px;
    width: 100%;
    margin: 7px;
    left: 0;
}
.header {
    position: fixed;
    top: 0;
    padding-top: 7px;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: crimson;
    background-color: rgb(248, 247, 245);
    height: 75px;
    width: 100%;
    text-align: center;
}
.header:hover {
    color: darkred;
}
button:hover {
    background-color: rgb(223, 123, 143, 12);
}
label {
    list-style-type: none;
    font-size: 14px;
}
.form1 {
    position: absolute;
    height: 70%;
    width: 50%;
    left: 25%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 8px;
    margin: 10px;
    padding-top: 12px;
    line-height: 7px;
    border: 1px solid purple;
    border-radius: 5px;
}
.form2 {
    position: absolute;
    height: 70%;
    width: 50%;
    left: 25%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 8px;
    margin: 10px;
    padding-top: 12px;
    line-height: 7px;
    border: 1px solid purple;
    border-radius: 5px;
}
input {
    width: 10%;
}
.submit_div1 {
    position: absolute;
    bottom: 5%;
    width: 60px;
    height: 40px;
    right: 45%;
    font-size: 8px;
}
.submit_div2 {
    position: absolute;
    bottom: 5%;
    width: 60px;
    height: 40px;
    right: 42%;
    font-size: 8px;
}
button.sub1 {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: crimson;
    border-radius: 5px;
    height: 40px;
    width: 70px;
    color: antiquewhite;
    font-size: 10px;
}
button.sub2 {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: crimson;
    border-radius: 5px;
    height: 40px;
    width: 70px;
    color: antiquewhite;
    font-size: 10px;
}
button.sub1:hover, button.sub2:hover {
    background-color: rgb(219, 61, 92);
}
#submit_status {
    position: relative;
    top: 520px;
    height: 20px;
    left: 1500px;
    width: 200px;
    font-size: 20px;
    color: gray;
    border: 1px solid red;
}
.hiddentable {
    display: none;
}