<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/styles/1-css_stylemate.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web">
        <script src="/static/js/1-js_stylemate.js"></script>
	    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>
    <header>
        <span class="header"> Welcome to Stylemate </span>
    </header>
    <body>
        <div class="container">
            <div class="content">
                <button class="select getoutfit" type="button" onclick=goOutfit()>Get Your Outfit Combination</button>
            </div>
            <div class="content">
                <button class="select describe" type="button" onclick=goDescribe()>Describe Your Wardrobe</button>
            </div>
        </div>
    </body>        
    <footer>
        <div class="desc">Get outfit recommendations based on your wardrobe...</div>
    </footer>
</html>
