<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/styles/1-css_stylemate.css">
        <script src="static/js/1-js_stylemate.js"></script>
	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <header>
        <span class="header"> Welcome to Stylemate </span>
    </header>
    <div class="desc"><h6>Get outfit recommendations based on your wardrobe...</h6></div>
    <div class="container">
        <div class="outfit content">
            <button class="select getoutfit">Get Your Outfit Combination</button>
        </div>
        <div class="describe content">
            <button class="select describe" >Describe Your Wardrobe</button>
        </div>
    </div>
        <footer>
            Stylemate
        </footer>
</html>
