<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/styles/2-css_stylemate.css">
    </head>
    <header>
        <span class="header"> Welcome to Stylemate </span>
    </header>
    <div class="desc"><h6>Get outfit recommendations based on your wardrobe...</h6></div>
    <div class="themes">
        <div class="theme1 theme">
            <button type="button">Casual</button>
        </div>
        <div class="theme2 theme">
            <button type="button" >Formal</button>
        </div>
        <div class="theme3 theme">
            <button type="button" >Dinner</button>
        </div>
        <div class="theme4 theme">
            <button type="button">Exercise</button>
        </div>
        <div class="display">

        </div>
    </div>
        <footer>
            Stylemate
        </footer>
</html>
