<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
	    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="/static/js/3-js_stylemate.js"></script>
        <link rel="stylesheet" href="../static/styles/1-css_stylemate.css">
        <link rel="stylesheet" href="static/styles/3-css_stylemate.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium Web">
    </head>
    <header>
        <span class="header"> Welcome to Stylemate </span>
    </header>
    <div class="desc"><h6>Get outfit recommendations based on your wardrobe...</h6></div>
    <div class="ctys">
        <form id="describeform1">
            <div class="cty1">
                Tops
                <div class="form1">
                    <p class="forms">
                        <input type="text" value="tops" name="table" class="hiddentable"><br>
                    </p>
                </div>
                <div class="submit_div1">
                    <button type="submit" class="sub1">Record Tops</button>
                </div>
            </div>
        </form>
        <form id="describeform2">
            <div class="cty2">
                Bottoms
                <div class="form2">
                    <p class="forms">
                        <input type="text" value="bottoms" name="table" class="hiddentable"><br>
                    </p>
                </div>
                <div class="submit_div2">
                    <button type="submit" class="sub2">Record Bottoms</button>
                </div>
            </div>
        </form>
    </div>
    <div id="submit_status">
        Your input has been recorded!
    </div>
    <footer>
        Stylemate
    </footer>
</html>
