<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/styles/3-css_stylemate.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="/static/js/3-js_stylemate.js"></script>
    </head>
    <header>
        <span class="header"> Welcome to Stylemate </span>
    </header>
    <div class="desc"><p>Get outfit recommendations based on your wardrobe...</p></div>
    <div class="ctys">
        <form id="describeform1">
            <div class="cty1">
                Tops
                <div class="form1">
                    <p class="forms">
                        <label>Blouse</label>
                        <input type="number" value="0" name="blouse"><br>
                    </p>
                    <p class="forms" >
                        <label>Camisole</label>
                        <input type="number" value="0" name="camisole"><br>
                    </p>
                    <p class="forms">  
                        <label>Shirt Blouse</label>
                        <input type="number" value="0" name="shirt blouse"><br>
                    </p>
                    <p class="forms">
                        <label>V-necked blouse</label>
                        <input type="number" value="0" name="v-necked blouse"><br>
                    </p>
                    <p class="forms">
                        <input type="text" value="tops" name="table" class="hiddentable"><br>
                    </p>
                    </div>
                <div class="submit_div1">
                    <button type="submit" class="sub1">Record Tops</button>
                </div>
            </div>
        </form>
        <form id="describeform2">
            <div class="cty2">
                Bottoms
                <div class="form2">
                    <p class="forms">
                        <label>Jean trousers</label>
                        <input type="number" name="jean trousers" value="0"><br>
                    </p>
                    <p class="forms">
                        <label>Chinos trousers</label>
                        <input type="number" value="0" name="chinos trousers"><br>
                    </p>
                    <p class="forms">
                        <label>Combat trousers</label>
                        <input type="number" value="0" name="combat trousers"><br>
                    </p>
                    <p class="forms">
                        <label>Palazzo trousers</label>
                        <input type="number" value="0" name="palazzo trousers"><br>
                    </p>
                    <p class="forms">
                        <label>Cropped trousers</label>
                        <input type="number" value="0" name="cropped trousers"><br>
                    </p>
                    <p class="forms">
                        <label>Harem Pants</label>
                        <input type="number" value="0" name="harem pants"><br>
                    </p>
                    <p class="forms">
                        <label>Dress trousers</label>
                        <input type="number" value="0" name="dress trousers"><br>
                    </p>
                    <p class="forms">
                        <label>Khakis trousers</label>
                        <input type="number" value="0" name="khaki trousers"><br>
                    </p>
                    <p class="forms">
                        <label>Drawstring trousers</label>
                        <input type="number" value="0" name="drawstring trousers"><br>
                    </p>
                    <p class="forms">
                        <label>Joggers trousers</label>
                        <input type="number" value="0" name="joggers trousers"><br>
                    </p>
                    <p class="forms">
                        <label>Linen/Plain trousers</label>
                        <input type="number" value="0" name="linen/plain trousers"><br>
                    </p>
                    <p class="forms">
                        <input type="text" value="bottoms" name="table" class="hiddentable"><br>
                    </p>
                    <p class="forms">
                        <label>Palazzo trousers</label>
                        <input type="number" value="0" name="palazzo trousers"><br>
                    </p>
                    <p class="forms">
                        <label>Cropped trousers</label>
                        <input type="number" value="0" name="cropped trousers"><br>
                    </p>
                    <p class="forms">
                        <label>Harem Pants</label>
                        <input type="number" value="0" name="harem pants"><br>
                    </p>
                    <p class="forms">
                        <label>Dress trousers</label>
                        <input type="number" value="0" name="dress trousers"><br>
                    </p>
                    <p class="forms">
                        <label>Khakis trousers</label>
                        <input type="number" value="0" name="khaki trousers"><br>
                    </p>
                    <p class="forms">
                        <label>Drawstring trousers</label>
                        <input type="number" value="0" name="drawstring trousers"><br>
                    </p>
                    <p class="forms">
                        <label>Joggers trousers</label>
                        <input type="number" value="0" name="joggers trousers"><br>
                    </p>
                    <p class="forms">
                        <label>Linen/Plain trousers</label>
                        <input type="number" value="0" name="linen/plain trousers"><br>
                    </p>
                    <p class="forms">
                        <input type="text" value="bottoms" name="table" class="hiddentable"><br>
                    </p>
                    </div>
                <div class="submit_div2">
                    <button type="submit" class="sub2">Record Bottoms</button>
                </div>
            </div>
        </form>
    </div>
    <div id="submit_status">
        Your input has been recorded!
    </div>
    <footer>
        Stylemate
    </footer>
</html>
