<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/styles/3-css_stylemate.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="/static/js/3-js_stylemate.js"></script>
    </head>
    <header>
        <span class="header"> Welcome to Stylemate </span>
    </header>
    <div class="desc"><h6>Get outfit recommendations based on your wardrobe...</h6></div>
    <div class="ctys">
        <form id="describeform">
            <div class="cty1">
                Tops
                <div class="form1">
                    <label>Blouse</label>
                    <input type="number" value="0" name="blouse"><br>
                    <label>Camisole</label>
                    <input type="number" value="0" name="camisole"><br>
                    <label>Cargo trousers</label>
                    <input type="number" value="0"><br>
                    <label>Palazzo trousers</label>
                    <input type="number" value="0"><br>
                </div>
            </div>
            <div class="cty2">
                Bottoms
                <div class="form2">
                        <label>Jean trousers</label>
                        <input type="number" name="jean trousers" value="0"><br>
                        <label>Chinos trousers</label>
                        <input type="number" value="0" name="chinos trousers"><br>
                        <label>Combat trousers</label>
                        <input type="number" value="0" name="combat trousers"><br>
                        <label>Palazzo trousers</label>
                        <input type="number" value="0" name="palazzo trousers"><br>
                        <label>Cropped trousers</label>
                        <input type="number" value="0" name="cropped trousers"><br>
                        <label>Harem Pants</label>
                        <input type="number" value="0" name="harem pants"><br>
                        <label>Dress trousers</label>
                        <input type="number" value="0" name="dress trousers"><br>
                        <label>Khakis trousers</label>
                        <input type="number" value="0" name="khaki trousers"><br>
                        <label>Drawstring trousers</label>
                        <input type="number" value="0" name="drawstring trousers"><br>
                        <label>Joggers trousers</label>
                        <input type="number" value="0" name="joggers trousers"><br>
                        <label>Linen/Plain trousers</label>
                        <input type="number" value="0" name="linen/plain trousers"><br>
                </div>
            </div>
            <div class="submit_div">
                <button type="submit" class="sub">Record</button>
            </div>
        </form>
    </div>
    <div id="submit_status">
        Your input has been recorded!
    </div>
    <footer>
        Stylemate
    </footer>
</html>
