<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/styles/4-css_stylemate.css">
    </head>
    <header>
        <div class="header">
            Welcome to Stylemate
            <div class="desc"><h6>Get outfit recommendations based on your wardrobe...</h6></div>
            <div class="decorations">
                <div class="decoration1">

                </div>
                <div class="decoration2">

                </div>
                <div class="decoration3">

                </div>
                <div class="decoration4">

                </div>
            </div>
        </div>
    </header>
    <div class="userform">
        <form id="userinfo">
            <div id="name">
                <label><span class="subhead">Name: </span></label>
                <input name="name" type="text" class="nametext"><br>
            </div>
            <div id="info">
                <label><span class="subhead">Sex: </span></label><br>
                <label>Male</label>
                <input name="sex" type="radio" value="male" checked><br>
                <label>Female</label>
                <input name="sex" type="radio" value="female"><br>
            </div>
            <button type="submit" class="submitinfo">Submit</button>
        </form>
    </div>
    <footer>
        Stylemate
    </footer>
</html>
